<!DOCTYPE html>
<html lang="ru" class="index">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#4F89FF">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="styles.css">
    <title>Кадровое агентство Помогатель.ру</title>
</head>
<body class="index__body">
    <div class="index__header container">
        {% include "_header.html" %}
    </div>
    <main>
        <div class="index__main">
            {% include "_main.html" %}
        </div>
        <div class="index__main-info">
            {% include "_main-info.html" %}
        </div>
        <div class="index__tariffs">
            {% include "_tariffs.html" %}
        </div>
        <div class="index__algorithm container">
            {% include "_algorithm.html" %}
        </div>
    </main>
    <script src="scripts.min.js"></script>
</body>
</html>