.advantages {
    text-align: center;
    background-color: #F3EADA;

    padding-top: $base-m * 30;
    padding-bottom: $base-m * 30;

    @media (min-width: $screen-md) {
        padding-top: $base-d * 50;
        padding-bottom: $base-d * 50;
    }

    &__title {
        margin-bottom: $base-m * 20;

        @media (min-width: $screen-md) {
            margin-bottom: $base-d * 25;
        }
    }

    &__img {
        margin-bottom: $base-m * 20;

        @media (min-width: $screen-md) {
            margin-bottom: $base-d * 40;
        }

        &--mobile {
            @media (min-width: $screen-md) {
                display: none;
            }
        }
        &--desktop {
            @media (max-width: $screen-md) {
                display: none;
            }
        }
    }
}