.header {
    padding: $base-m * 11 $base-m * 8;

    &__logo {
        font-size: $base-m * 8;
        line-height: normal;
        font-weight: 400;
        text-decoration: none;
        color: #333;
    }
}