.index {
    position: relative;

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    &__main-info {
        margin-top: -$base-m * 20;
        margin-bottom: -$base-m * 20;
    }
}