<section class="advantages container">
    <h2 class="landing-title landing-title--md advantages__title">
        {{landing.advantages.TITLE}}
    </h2>
    <img class="advantages__img" src="../../img/advantages.svg" alt="Тысячи анкет; Быстро; Надежно; Экономно; Гарантированно; Проверенные работники; Тщательный подбор; Эффективно; 14 лет опыта">
    <button class="pmgt-button pmgt-button--primary pmgt-button--md pmgt-button--blink advantages__btn"
        data-ripple="btn">
        {{landing.common.SUBMIT}}
    </button>
</section>