<div class="advantages">
    <div class="container">
        <h2 class="landing-title landing-title--md advantages__title">
            {{landing.advantages.TITLE}}
        </h2>
        <img class="advantages__img advantages__img--mobile" src="img/advantages.svg" alt="Тысячи анкет; Быстро; Надежно; Экономно; Гарантированно; Проверенные работники; Тщательный подбор; Эффективно; 14 лет опыта" loading="lazy">
        <img class="advantages__img advantages__img--desktop" src="img/advantages-desktop.svg" alt="Тысячи анкет; Быстро; Надежно; Экономно; Гарантированно; Проверенные работники; Тщательный подбор; Эффективно; 14 лет опыта" loading="lazy">
        <button class="pmgt-button pmgt-button--primary pmgt-button--md pmgt-button--blink advantages__btn"
            data-ripple="btn" data-popup-lite-call="recruiters_form">
            {{landing.common.SUBMIT}}
        </button>
    </div>
</div>