<section class="algorithm">
    <h2 class="landing-title landing-title--md algorithm__title">
        {{landing.algorithm.TITLE}}
    </h2>
    <ol class="algorithm__list">
        <li class="algorithm__item">
            <div class="algorithm-card algorithm-card--peach">
                <h3 class="algorithm-card__title landing-title landing-title--sm">
                    {{landing.algorithm.step_1.TITLE}}
                </h3>
                <p class="algorithm-card__description">
                    {{landing.algorithm.step_1.DESCRIPTION}}
                </p>
                <div class="algorithm-card__icon">
                    <svg>
                        <use href="./img/icons/sprite.svg#pen"></use>
                    </svg>
                </div>
            </div>
        </li>
        <li class="algorithm__item">
            <div class="algorithm-card algorithm-card--pink">
                <h3 class="algorithm-card__title landing-title landing-title--sm">
                    {{landing.algorithm.step_2.TITLE}}
                </h3>
                <p class="algorithm-card__description">
                    {{landing.algorithm.step_2.DESCRIPTION}}
                </p>
                <div class="algorithm-card__icon">
                    <svg>
                        <use href="./img/icons/sprite.svg#documents"></use>
                    </svg>
                </div>
            </div>
        </li>
        <li class="algorithm__item">
            <div class="algorithm-card algorithm-card--lightblue">
                <h3 class="algorithm-card__title landing-title landing-title--sm">
                    {{landing.algorithm.step_3.TITLE}}
                </h3>
                <p class="algorithm-card__description">
                    {{landing.algorithm.step_3.DESCRIPTION}}
                </p>
                <div class="algorithm-card__icon">
                    <svg>
                        <use href="./img/icons/sprite.svg#like"></use>
                    </svg>
                </div>
            </div>
        </li>
    </ol>
    <div class="text-center">
        <button class="pmgt-button pmgt-button--primary pmgt-button--md pmgt-button--blink algorithm__btn"
            data-ripple="btn" data-popup-lite-call="recruiters_form">
            {{landing.common.SUBMIT}}
        </button>
    </div>
</section>