<section class="algorithm">
    <h2 class="landing-title landing-title--md algorithm__title">
        Как это работает
    </h2>
    <ol class="algorithm__list">
        <li class="algorithm__item">
            <div class="algorithm-card algorithm-card--peach">
                <h3 class="algorithm-card__title landing-title landing-title--sm">
                    Вы описываете нам свои требования
                </h3>
                <p class="algorithm-card__description">
                    У нас тысячи анкет работников — подберём лучших
                </p>
                <div class="algorithm-card__icon">
                    <svg>
                        <use href="./img/icons/sprite.svg#pen"></use>
                    </svg>
                </div>
            </div>
        </li>
        <li class="algorithm__item">
            <div class="algorithm-card algorithm-card--pink">
                <h3 class="algorithm-card__title landing-title landing-title--sm">
                    Мы предлагаем кандидатов на выбор
                </h3>
                <p class="algorithm-card__description">
                    Все они уже готовы и согласны с вашими условиями
                </p>
                <div class="algorithm-card__icon">
                    <svg>
                        <use href="./img/icons/sprite.svg#documents"></use>
                    </svg>
                </div>
            </div>
        </li>
        <li class="algorithm__item">
            <div class="algorithm-card algorithm-card--lightblue">
                <h3 class="algorithm-card__title landing-title landing-title--sm">
                    Окончательное решение за вами
                </h3>
                <p class="algorithm-card__description">
                    Организуем вам встречу с каждым кандидатом
                </p>
                <div class="algorithm-card__icon">
                    <svg>
                        <use href="./img/icons/sprite.svg#like"></use>
                    </svg>
                </div>
            </div>
        </li>
    </ol>
    <div class="text-center">
        <button class="pmgt-button pmgt-button--primary pmgt-button--md algorithm__btn"
            data-ripple="btn">
            Оставить заявку
        </button>
    </div>
</section>