<form id="formRec" class="form-rec swiper-container">
    <header class="form-rec__header r-f-header">
        <button class="r-f-header__btn" type="button" data-rec-slide-prev>
            <svg>
                <use xlink:href="../img/svg/sprite/sprite.svg#arrow-left"></use>
            </svg>
        </button>
        <div class="r-f-header__title" id="recruitersFormTitleM"></div>
    </header>
    <div class="form-rec__progressbar r-f-progressbar"></div>
    <div class="form-rec__body swiper-wrapper">
        <div class="form-rec__slide swiper-slide" data-rec-form-title="О работнике">
            <div class="form-rec__item">
                <label class="r-form-item" tabindex="0">
                    <div class="r-form-item__title">
                        Регион, в котором требуется работник
                    </div>
                    <div class="r-form-item__select">
                        <pmgt-select-wrapper data-decorator="cities-and-regions"
                            data-provider="regions-provider">
                            <select name="regionId">
                            </select>
                        </pmgt-select-wrapper>
                    </div>
                </label>
            </div>
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        Специальность работника
                    </div>
                    <div class="r-form-item__select">
                        <select name="specialization" required>
                            <option value="2">Няня</option>
                            <option value="4">Сиделка</option>
                            <option value="8">Домработница</option>
                            <option value="16">Репетитор</option>
                            <option value="32">Водитель</option>
                            <option value="64">Психолог</option>
                            <option value="128">Массажист</option>
                            <option value="256">Семейная пара</option>
                        </select>
                    </div>
                </label>
            </div>
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        Сколько готовы платить работнику
                    </div>
                    <div class="r-form-item__input r-form-item__input--salary">
                        <div class="r-form-item__hint r-form-item__hint--left">
                            До
                        </div>
                        <input type="number" name="salary" min="0" max="1000000" placeholder="50000"
                            required>
                        <div class="r-form-item__hint r-form-item__hint--right">
                            ₽/месяц
                        </div>
                    </div>
                    <div class="r-form-item__hint r-form-item__hint--bottom">
                        Предварительная информация для рекрутера
                    </div>
                </label>
            </div>

            <button class="form-rec__btn button" data-rec-form-step="0" type="button">
                Далее
            </button>
        </div>
        <div class="form-rec__slide swiper-slide" data-rec-form-title="Тариф">
            <ul class="r-f-tariff-list">
                <li class="r-f-tariff-list__item">
                    <label class="tariff-card tariff-card--premium">
                        <input type="radio" name="tariff" value="19990" required/>
                        <header class="tariff-card__header">
                            <div class="tariff-card__checkmark" style="color: #FFA041;">
                                <div class="tariff-card__circle"></div>
                                <svg>
                                    <use
                                        xlink:href="../img/svg/sprite/sprite.svg#check-circle-fill">
                                    </use>
                                </svg>
                            </div>
                            <div class="tariff-card__title">
                                Премиум
                                <svg>
                                    <use xlink:href="../img/svg/sprite/sprite.svg#crown"></use>
                                </svg>
                            </div>
                            <div class="tariff-card__price">
                                19 990 ₽
                            </div>
                        </header>
                        <ul class="tariff-card__list">
                            <li class="tariff-card__item">
                                12 подходящих работников, с которыми наш рекрутер предварительно
                                провел интервью
                            </li>
                            <li class="tariff-card__item">
                                6 собеседований с Вами
                            </li>
                        </ul>
                    </label>
                </li>
                <li class="r-f-tariff-list__item">
                    <label class="tariff-card tariff-card--standard">
                        <input type="radio" name="tariff" value="9990" />
                        <header class="tariff-card__header">
                            <div class="tariff-card__checkmark" style="color: #46B2AC;">
                                <div class="tariff-card__circle"></div>
                                <svg>
                                    <use
                                        xlink:href="../img/svg/sprite/sprite.svg#check-circle-fill">
                                    </use>
                                </svg>
                            </div>
                            <div class="tariff-card__title">
                                Стандарт
                            </div>
                            <div class="tariff-card__price">
                                9 990 ₽
                            </div>
                        </header>
                        <ul class="tariff-card__list">
                            <li class="tariff-card__item">
                                Подберем вам 6 подходящих работников, с которыми наш рекрутер
                                предварительно провел интервью
                            </li>
                            <li class="tariff-card__item">
                                Организуем Вам 3 собеседования, с выбранными рабониками
                            </li>
                        </ul>
                    </label>
                </li>
            </ul>
            <input type="text" class="tariff-card__focus-trap">
            <button class="form-rec__btn button" type="button" data-rec-form-step="1">
                Далее
            </button>
        </div>
        <div class="form-rec__slide swiper-slide" data-rec-form-title="Данные для связи">
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        Ваш номер телефона для связи
                    </div>
                    <div class="r-form-item__input">
                        <input type="text" name="phoneNumber" placeholder="+7 (000) 000-00-00"
                            required>
                    </div>
                </label>
            </div>
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        Как к Вам обращаться
                    </div>
                    <div class="r-form-item__input">
                        <input type="text" name="name" placeholder="Ваше ФИО" required>
                    </div>
                </label>
            </div>
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        Любой ваш комментарий
                    </div>
                    <div class="r-form-item__input">
                        <textarea name="comment"></textarea>
                    </div>
                </label>
            </div>
            <div class="form-rec__item form-rec__item--checkbox">
                <label class="pmgt-checkbox">
                    Согласие с
                    <a
                        href="https://pomogatel.ru/content/politika-v-otnoshenii-obrabotki-personalnykh-dannykh-pomogatel.html">
                        «Политикой в отношении обработки персональных данных»
                    </a>
                    <input type="checkbox" checked="checked" name="isAgree">
                    <span class="pmgt-checkbox__checkmark"></span>
                </label>
            </div>
            <button class="form-rec__btn form-rec__btn--submit button" data-rec-form-step="2"
                type="submit" data-popup-close>
                Оставить заявку
            </button>
        </div>
    </div>
</form>