{% set tariffs = [
    {
        isPremium: true,
        title: landing.form_rec.tariffs.premium.TITLE,
        options: [
            landing.form_rec.tariffs.premium.OPTION_1,
            landing.form_rec.tariffs.premium.OPTION_2
        ],
        price: "19 990 ₽",
        value: 19990,
        color: "#FFA041"
    },
    {
        title: landing.form_rec.tariffs.standard.TITLE,
        options: [
            landing.form_rec.tariffs.standard.OPTION_1,
            landing.form_rec.tariffs.standard.OPTION_2
        ],
        price: "9 990 ₽",
        value: 9990,
        color: "#4F89FF"
    }
] %}

{% macro button(type, step, modifier, attribute) %}
    <button class="pmgt-button form-rec__btn {{modifier}} pmgt-button--md pmgt-button--primary pmgt-button--blink" data-ripple="btn" type="{{type}}" data-rec-form-step="{{step}}" {{attribute}}>
        {{ caller() }}
    </button>
{% endmacro %}

<form id="formRec" class="form-rec swiper-container">
    <header class="form-rec__header form-header">
        <button class="form-header__btn" type="button" data-rec-slide-prev>
            <svg>
                <use xlink:href="./img/icons/sprite.svg#arrow-left"></use>
            </svg>
        </button>
        <div class="form-header__title" id="recruitersFormTitleM"></div>
    </header>
    <div class="form-rec__progressbar form-progressbar"></div>
    <div class="form-rec__body swiper-wrapper">
        {# О РАБОТНИКЕ #}
        <div class="form-rec__slide swiper-slide" data-rec-form-title="{{landing.form_rec.mobile_headers.ABOUT_WORKER}}">
            <div class="form-rec__item">
                <label class="r-form-item" tabindex="0">
                    <div class="r-form-item__title">
                        {{landing.form_rec.labels.REGION}}
                    </div>
                    <div class="r-form-item__select">
                        <pmgt-select-wrapper data-decorator="cities-and-regions"
                            data-provider="regions-provider">
                            <select name="regionId">
                            </select>
                        </pmgt-select-wrapper>
                    </div>
                </label>
            </div>
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        {{landing.form_rec.labels.SPECIALIZATION}}
                    </div>
                    <div class="r-form-item__select">
                        <select name="specialization" required>
                            <option value="2">{{landing.form_rec.specializations.NANNY}}</option>
                            <option value="4">{{landing.form_rec.specializations.NURSE}}</option>
                            <option value="8">{{landing.form_rec.specializations.HOUSEKEEPER}}</option>
                            <option value="16">{{landing.form_rec.specializations.TUTOR}}</option>
                            <option value="32">{{landing.form_rec.specializations.DRIVER}}</option>
                            <option value="64">{{landing.form_rec.specializations.PSYCH}}</option>
                            <option value="128">{{landing.form_rec.specializations.MASSEUR}}</option>
                            <option value="256">{{landing.form_rec.specializations.PAIR}}</option>
                        </select>
                    </div>
                </label>
            </div>
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        {{landing.form_rec.labels.SALARY}}
                    </div>
                    <div class="r-form-item__input r-form-item__input--salary">
                        <div class="r-form-item__hint r-form-item__hint--left">
                            {{landing.form_rec.UNTIL}}
                        </div>
                        <input type="number" name="salary" min="0" max="1000000" placeholder="50000"
                            required>
                        <div class="r-form-item__hint r-form-item__hint--right">
                            {{landing.form_rec.PER_MONTH}}
                        </div>
                    </div>
                    <div class="r-form-item__hint r-form-item__hint--bottom">
                        {{landing.form_rec.REC_INFO}}
                    </div>
                </label>
            </div>

            {% call button("button", 0) %}
                {{landing.common.NEXT}}
            {% endcall %}
        </div>
        {# ТАРИФ #}
        <div class="form-rec__slide swiper-slide" data-rec-form-title="{{landing.form_rec.mobile_headers.TARIFF}}">
            <ul class="form-tariff-list">
                {% for tariff in tariffs %}
                    <li class="form-tariff-list__item">
                        {% set cardModifier = "" %}
                        {% if tariff.isPremium %}
                            {% set cardModifier = "form-tariff-card--premium" %}
                        {% else %}
                            {% set cardModifier = "form-tariff-card--standard" %}
                        {% endif %}
                        <label class="form-tariff-card {{cardModifier}}">
                            <input type="radio" name="tariff" value="{{tariff.value}}" required/>
                            <header class="form-tariff-card__header">
                                <div class="form-tariff-card__checkmark" style="color: {{tariff.color}};">
                                    <div class="form-tariff-card__circle"></div>
                                    <svg>
                                        <use
                                            xlink:href="./img/icons/sprite.svg#check-circle-fill">
                                        </use>
                                    </svg>
                                </div>
                                <div class="form-tariff-card__title">
                                    {{tariff.title}}
                                    {% if tariff.isPremium %}
                                        <svg>
                                            <use xlink:href="./img/icons/sprite.svg#crown-orange"></use>
                                        </svg>
                                    {% endif %}
                                </div>
                                <div class="form-tariff-card__price">
                                    {{tariff.price}}
                                </div>
                            </header>
                            <ul class="form-tariff-card__list">
                                {% for option in tariff.options %}
                                    <li class="form-tariff-card__item">
                                        {{option}}
                                    </li>
                                {% endfor %}
                            </ul>
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <input type="text" class="form-tariff-card__focus-trap">
            {% call button("button", 1) %}
                {{landing.common.NEXT}}
            {% endcall %}
        </div>
        {# ДАННЫЕ ДЛЯ СВЯЗИ #}
        <div class="form-rec__slide swiper-slide" data-rec-form-title="{{landing.form_rec.mobile_headers.CONNECTION_DATA}}">
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        {{landing.form_rec.labels.PHONE}}
                    </div>
                    <div class="r-form-item__input">
                        <input type="text" name="phoneNumber" placeholder="+7 (000) 000-00-00"
                            required>
                    </div>
                </label>
            </div>
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        {{landing.form_rec.labels.NAME}}
                    </div>
                    <div class="r-form-item__input">
                        <input type="text" name="name" placeholder="{{landing.form_rec.labels.NAME_PLACEHOLDER}}" required>
                    </div>
                </label>
            </div>
            <div class="form-rec__item">
                <label class="r-form-item">
                    <div class="r-form-item__title">
                        {{landing.form_rec.labels.COMMENT}}
                    </div>
                    <div class="r-form-item__input">
                        <textarea name="comment"></textarea>
                    </div>
                </label>
            </div>
            <div class="form-rec__item form-rec__item--checkbox">
                <label class="pmgt-checkbox">
                    {{landing.form_rec.labels.USER_AGREEMENT}}
                    <a class="btn-link"
                        href="https://pomogatel.ru/content/politika-v-otnoshenii-obrabotki-personalnykh-dannykh-pomogatel.html">
                        <span class="btn-link__text">
                            {{landing.form_rec.labels.PERSONAL_DATA}}
                        </span>
                    </a>
                    <input type="checkbox" checked="checked" name="isAgree">
                    <span class="pmgt-checkbox__checkmark"></span>
                </label>
            </div>
            {% call button("submit", 2, "form-rec__btn--submit", "disabled data-popup-close") %}
                {{landing.common.SUBMIT}}
            {% endcall %}
        </div>
    </div>
</form>