<section class="main container">
    <h1 class="main-title main__title">
        <span class="landing-title landing-title--lg">
            Кадровое агентство
        </span>
        <span class="main-title__badge">
            Помогатель.ру
        </span>
    </h1>
    <p class="main__description">
        14 лет мы помогаем в поиске<br>
        домашнего персонала
    </p>
    <button href="" class="pmgt-button main__btn pmgt-button--primary pmgt-button--md" data-ripple="btn">
        Оставить заявку
    </button>
</section>