<section class="main container">
    <h1 class="main-title main__title">
        <span class="landing-title landing-title--lg">
            {{landing.main.TITLE}}
        </span>
        <span class="main-title__badge">
            {{landing.main.TITLE_BADGE}}
        </span>
    </h1>
    <p class="main__description">
        {{landing.main.DESCRIPTION | safe}}
    </p>
    <button href="" class="pmgt-button main__btn pmgt-button--primary pmgt-button--blink pmgt-button--md" data-ripple="btn">
        {{landing.common.SUBMIT}}
    </button>
</section>