{% macro popupLite(name, bodyModifier) %}
    <div class="popup popup--hidden" data-popup-lite-name="{{name}}" tabindex="-1" role="dialog">
        <div class="popup__overlay popup__overlay--dark">
            <div class="popup__body {{bodyModifier}}">
                <button class="btn btn--close popup__close" aria-label="{{landing.common.CLOSE}}">
                    <svg>
                        <use href="./img/icons/sprite.svg#cross"></use>
                    </svg>
                </button>
                <div class="popup__content">
                    {{ caller() }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}