{% set reviews = [
    {
        title: landing.reviews.reviews_list.review_1.TITLE,
        description: landing.reviews.reviews_list.review_1.DESCRIPTION,
        author: landing.reviews.reviews_list.review_1.AUTHOR,
        date: landing.reviews.reviews_list.review_1.DATE,
        dateRaw: landing.reviews.reviews_list.review_1.DATE_RAW
    },
    {
        title: landing.reviews.reviews_list.review_2.TITLE,
        description: landing.reviews.reviews_list.review_2.DESCRIPTION,
        author: landing.reviews.reviews_list.review_2.AUTHOR,
        date: landing.reviews.reviews_list.review_2.DATE,
        dateRaw: landing.reviews.reviews_list.review_2.DATE_RAW
    },
    {
        title: landing.reviews.reviews_list.review_3.TITLE,
        description: landing.reviews.reviews_list.review_3.DESCRIPTION,
        author: landing.reviews.reviews_list.review_3.AUTHOR,
        date: landing.reviews.reviews_list.review_3.DATE,
        dateRaw: landing.reviews.reviews_list.review_3.DATE_RAW
    }
] %}

<section class="reviews">
    <div class="container">
        <h2 class="landing-title landing-title--md reviews__title">
            {{landing.reviews.TITLE}}
        </h2>
        <div class="reviews__slider swiper">
            <ul class="swiper-wrapper">
                {% for review in reviews %}
                    <li class="reviews__slide swiper-slide">
                        <blockquote class="review">
                            <div class="review__rating">
                                <svg>
                                    <use href="./img/icons/sprite.svg#star"></use>
                                </svg>
                                <svg>
                                    <use href="./img/icons/sprite.svg#star"></use>
                                </svg>
                                <svg>
                                    <use href="./img/icons/sprite.svg#star"></use>
                                </svg>
                                <svg>
                                    <use href="./img/icons/sprite.svg#star"></use>
                                </svg>
                                <svg>
                                    <use href="./img/icons/sprite.svg#star"></use>
                                </svg>
                            </div>
                            <h3 class="review__title">
                                {{review.title}}
                            </h3>
                            <p class="review__description">
                                {{review.description}}
                            </p>
                            <cite class="review__author">
                                {{review.author}}
                            </cite>
                            <time class="review__date" datetime="{{review.dateRaw}}">
                                {{review.date}}
                            </time>
                        </blockquote>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="text-center">
            <button class="pmgt-button pmgt-button--md pmgt-button--primary pmgt-button--blink" data-ripple="btn" data-popup-lite-call="recruiters_form">
                {{landing.common.SUBMIT}}
            </button>
        </div>
    </div>
</section>