<section class="reviews">
    <div class="container">
        <h2 class="landing-title landing-title--md reviews__title">
            Отзывы наших клиентов
        </h2>
        <div class="reviews__slider swiper">
            <ul class="swiper-wrapper">
                <li class="reviews__slide swiper-slide">
                    <blockquote class="review">
                        <div class="review__rating">
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                        </div>
                        <h3 class="review__title">
                            Очень быстро нашли
                        </h3>
                        <p class="review__description">
                            Искала домработницу на постоянную работу, воспользовалась сервисом подбора от Помогатель.ру. Команда профессионалов! Требования все записали, через пару дней уже готовы были устроить встречу с подходящими кандидатами. В итоге договорились, человек подошёл идеально.Мне очень всё понравилось, быстро и приятно сработали. Буду рекомендовать!
                        </p>
                        <cite class="review__author">
                            Марина М.
                        </cite>
                        <time class="review__date" datetime="2023-08-30">
                            30.08.23
                        </time>
                    </blockquote>
                </li>
                <li class="reviews__slide swiper-slide">
                    <blockquote class="review">
                        <div class="review__rating">
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                        </div>
                        <h3 class="review__title">
                            Ребенок доволен
                        </h3>
                        <p class="review__description">
                            Делюсь отзывом на Помогатель.ру. Хотели найти няню для ребёнка, обошли много агентств, так нигде и не договорились. Нашла этот сервис рекрутинга, оставила заявку на звонок. Менеджер по телефону мне объяснила, как они ищут, как проверяют кандидатов. Решила попробовать и не разочаровалась. Все няни, которых сервис предложил, подходили под запрос. С каждой нам организовали собеседование, с самой лучшей и подходящей договорились. Всё прошло идеально, ребёнок тоже счастлив :)
                        </p>
                        <cite class="review__author">
                            Ольга Р.
                        </cite>
                        <time class="review__date" datetime="2023-05-20">
                            20.05.23
                        </time>
                    </blockquote>
                </li>
                <li class="reviews__slide swiper-slide">
                    <blockquote class="review">
                        <div class="review__rating">
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                        </div>
                        <h3 class="review__title">
                            Уже сотрудничаем
                        </h3>
                        <p class="review__description">
                            Работаю вахтой, живу в служебном жилье, искал домработницу. Агентства по подбору персонала просили достаточно много за свои услуги, а вот в Помогателе цена привлекла. Созвонились с рекрутером, я описал, кого ищу. Через пару дней мне уже сообщили, что подобрали кандидатов. Устроили нам встречу, мы пообщались, условия всех устроили. Уже сотрудничаем. Помогателя рекомендую
                        </p>
                        <cite class="review__author">
                            Виктор С.
                        </cite>
                        <time class="review__date" datetime="2023-02-11">
                            11.02.23
                        </time>
                    </blockquote>
                </li>
                <li class="reviews__slide swiper-slide">
                    <blockquote class="review">
                        <div class="review__rating">
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                            <svg>
                                <use href="./img/icons/sprite.svg#star"></use>
                            </svg>
                        </div>
                        <h3 class="review__title">
                            Ребенок доволен
                        </h3>
                        <p class="review__description">
                            Делюсь отзывом на Помогатель.ру. Хотели найти няню для ребёнка, обошли много агентств, так нигде и не договорились. Нашла этот сервис рекрутинга, оставила заявку на звонок. Менеджер по телефону мне объяснила, как они ищут, как проверяют кандидатов. Решила попробовать и не разочаровалась. Все няни, которых сервис предложил, подходили под запрос. С каждой нам организовали собеседование, с самой лучшей и подходящей договорились. Всё прошло идеально, ребёнок тоже счастлив :)
                        </p>
                        <cite class="review__author">
                            Ольга Р.
                        </cite>
                        <time class="review__date" datetime="2023-05-20">
                            20.05.23
                        </time>
                    </blockquote>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <button class="pmgt-button pmgt-button--md pmgt-button--primary pmgt-button--blink" data-ripple="btn">
                Оставить заявку
            </button>
        </div>
    </div>
</section>