<section class="tariffs container">
    <h2 class="landing-title landing-title--md tariffs__title">
        Тарифы
    </h2>
    <ul class="tariffs__list">
        <li class="tariffs__item">
            <div class="tariff-card">
                <dl>
                    <dt class="tariff-card__title">
                        Стандарт
                    </dt>
                    <dd class="tariff-card__subtitle">
                        Для эффективного поиска
                    </dd>
                </dl>
                <ul class="tariff-card__options">
                    <li class="tariff-card__option">
                        Подберём до 6 подходящих анкет работников
                    </li>
                    <li class="tariff-card__option">
                        Предложим 3 лучших кандидата на выбор
                    </li>
                </ul>
                <span class="tariff-card__price">
                    9 900 ₽
                </span>
                <button class="pmgt-button pmgt-button--outline pmgt-button--md tariff-card__btn"
                    data-ripple="btn">
                    Оставить заявку
                </button>
            </div>
        </li>
        <li class="tariffs__item">
            <div class="tariff-card">
                <dl>
                    <dt class="tariff-card__title">
                        <div></div>
                        Премиум
                        <svg class="tariff-card__icon">
                            <use href="./img/icons/sprite.svg#crown"></use>
                        </svg>
                    </dt>
                    <dd class="tariff-card__subtitle">
                        Для тщательного выбора
                    </dd>
                </dl>
                <ul class="tariff-card__options">
                    <li class="tariff-card__option">
                        Подберём до 12 подходящих анкет работников
                    </li>
                    <li class="tariff-card__option">
                        Предложим 6 лучших кандидатов на выбор
                    </li>
                    <li class="tariff-card__option">
                        1 год гарантии — заменим работника бесплатно
                    </li>
                </ul>
                <span class="tariff-card__price">
                    19 900 ₽
                </span>
                <button class="pmgt-button pmgt-button--primary pmgt-button--md pmgt-button--blink tariff-card__btn"
                    data-ripple="btn">
                    Оставить заявку
                </button>
            </div>
        </li>
    </ul>
</section>