{% set workers = {
    nannies: [
        {
            name: "Лилия",
            text: "Предлагаю свою помощь родителям новорожденных детей. Мой опыт работы няней с 2015 года по сегодняшний день.",
            photoSrc: "https://148711.selcdn.ru/video/2a1080631caebb1e6e4ba78ee1e2ebc8.jpg",
            vidSrc: "https://148711.selcdn.ru/video/28a766ebd8a0cf084b4cae1e099882ef.mp4"
        },
        {
            name: "Виктория",
            text: "Меня зовут Виктория, по образованию я детский клинический психолог. На данный момент успешно прошла практику в больницах и школах Москвы.",
            photoSrc: "https://148711.selcdn.ru/video/7841adf4af02e0ff422e32214d67c538.jpg",
            vidSrc: "https://148711.selcdn.ru/video/2a1080631caebb1e6e4ba78ee1e2ebc8.mp4"
        },
        {
            name: "Кристина",
            text: "Я профессиональная няня. И мне доверяют родители самое ценное. Сотрудничала с семьями на протяжении нескольких лет в качестве гувернантки.",
            photoSrc: "https://148711.selcdn.ru/video/71932f2b4d2af315152f8a21dd3b4e1d.jpg",
            vidSrc: "https://148711.selcdn.ru/video/ec95c0aa0ceefc698fc705f97b4a4658.mp4"
        }
    ],
    housekeepers: [
        {
            name: "Татьяна",
            text: "С 09.2021 по 12.2022 работаю в доме 500кв.м в семье из 5 человек в качестве помощницы по хозяйству.С 14.12.2022 по настоящее время семья уехала, осуществляю поддерживающую уборку дома.",
            photoSrc: "https://148711.selcdn.ru/video/883a475b4c955d17e7a039f8d9f7eb10.jpg",
            videoSrc: "https://148711.selcdn.ru/video/883a475b4c955d17e7a039f8d9f7eb10.mp4"
        },
        {
            name: "Оксана",
            text: "Прекрасно ухаживаю за VIP-гардеробом, имею большой опыт в этой сфере, знаю бытовую технику и химию, прекрасно её использую.",
            photoSrc: "https://148711.selcdn.ru/video/de08e132731409ca46dd0c45a4c095f7.jpg",
            videoSrc: "https://148711.selcdn.ru/video/de08e132731409ca46dd0c45a4c095f7.mp4"
        },
        {
            name: "Ольга",
            text: "Я добрая, неконфликтная, внимательная, нахожу подход к детям. Могу занять ребят: развивающими играми, чтением, лепкой.",
            photoSrc: "https://148711.selcdn.ru/video/f00f33b73844b59a49350c8b08ffa5dd.jpg",
            videoSrc: "https://148711.selcdn.ru/video/f00f33b73844b59a49350c8b08ffa5dd.mp4"
        }
    ]
} %}

<section class="workers">
    <h2 class="landing-title landing-title--md workers__title">
        {{landing.workers.TITLE}}
    </h2>
    <div class="workers-carousel swiper workers__carousel">
        <div class="workers-carousel__navigation">
            <ul class="workers-carousel__pagination"></ul>
            <a href="" class="pmgt-button pmgt-button--sm pmgt-button--outline workers-carousel__link">
                {{landing.workers.ALL_RESUMES}}
            </a>
        </div>
        <ul class="workers-carousel-content swiper-wrapper">
            <li class="workers-carousel-content__item swiper-slide" data-tab="{{landing.workers.TAB_NANNY}}">
                <div class="workers-slider swiper workers-slider--nanny">
                    <ul class="swiper-wrapper">
                        {% for nanny in workers.nannies %}
                            <li class="workers-slider__slide swiper-slide">
                                <blockquote class="worker-card">
                                    <div class="worker-card__photo">
                                        <img src="{{nanny.photoSrc}}" alt="{{nanny.name}}" width="216" height="264">
                                        {# <video src="{{nanny.vidSrc}}" width="216" height="264"></video> #}
                                        <button class="worker-card__btn">
                                            <svg>
                                                <use xlink:href="./img/icons/sprite.svg#play"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="worker-card__rating">
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                    </div>
                                    <cite class="worker-card__title">
                                        {{nanny.name}}
                                    </cite>
                                    <p class="worker-card__review">
                                        {{nanny.text}}
                                    </p>
                                </blockquote>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class="workers-carousel-content__item swiper-slide" data-tab="{{landing.workers.TAB_HOUSEKEEPER}}">
                <div class="workers-slider swiper workers-slider--housekeeper">
                    <ul class="swiper-wrapper">
                        {% for housekeeper in workers.housekeepers %}
                            <li class="workers-slider__slide swiper-slide">
                                <blockquote class="worker-card">
                                    <div class="worker-card__photo">
                                        <img src="{{housekeeper.photoSrc}}" alt="{{housekeeper.name}}" width="216" height="264">
                                        <button class="worker-card__btn">
                                            <svg>
                                                <use xlink:href="./img/icons/sprite.svg#play"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="worker-card__rating">
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                        <svg>
                                            <use href="./img/icons/sprite.svg#star"></use>
                                        </svg>
                                    </div>
                                    <cite class="worker-card__title">
                                        {{housekeeper.name}}
                                    </cite>
                                    <p class="worker-card__review">
                                        {{housekeeper.text}}
                                    </p>
                                </blockquote>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="text-center">
        <button class="pmgt-button pmgt-button--md pmgt-button--primary pmgt-button--blink" data-ripple="btn" data-popup-lite-call="recruiters_form">
            {{landing.common.SUBMIT}}
        </button>
    </div>
</section>